
<!-- Carousel Start -->
{{partial:layout.frontend_layout.Contents.slider}}
<!-- Carousel End -->

<!-- Top Feature Start -->
<!-- {{partial:layout.frontend_layout.Contents.feature}} -->
<!-- Top Feature End -->


<!-- About Start -->
 {{partial:layout.frontend_layout.Contents.goal}}
<!-- About End -->


<!-- Team Start -->
{{partial:layout.frontend_layout.Contents.team}}
<!-- Team End -->

<!-- Facts Start -->
{{partial:layout.frontend_layout.Contents.facts}}
<!-- Facts End -->


<!-- Blog Start -->
{{partial:layout.frontend_layout.Contents.blog}}
<!-- Blog End -->

<!-- Blog Start -->
<!-- {{partial:layout.frontend_layout.Contents.events}} -->
<!-- Blog End -->


<!-- Blog Start -->
<!-- {{partial:layout.frontend_layout.Contents.projects}} -->
<!-- Blog End -->


<!-- Testimonials Start -->
{{partial:layout.frontend_layout.Contents.testimonials}}
<!-- Testimonials End -->

 <!-- Clients Section - Home Page -->
 {{partial:layout.frontend_layout.Contents.agencies}}
  <!-- End Clients Section -->




