
<!-- Carousel Start -->
{{partial:layout.frontend_layout.slider}}
<!-- Carousel End -->

<!-- Top Feature Start -->
 {{partial:layout.frontend_layout.feature}}
<!-- Top Feature End -->


<!-- About Start -->
 {{partial:layout.frontend_layout.goal}}
<!-- About End -->


<!-- Team Start -->
{{partial:layout.frontend_layout.team}}
<!-- Team End -->

<!-- Facts Start -->
{{partial:layout.frontend_layout.facts}}
<!-- Facts End -->


<!-- Blog Start -->
{{partial:layout.frontend_layout.blog}}
<!-- Blog End -->

<!-- Blog Start -->
<!-- {{partial:layout.frontend_layout.events}} -->
<!-- Blog End -->


<!-- Blog Start -->
<!-- {{partial:layout.frontend_layout.projects}} -->
<!-- Blog End -->


<!-- Testimonials Start -->
{{partial:layout.frontend_layout.testimonials}}
<!-- Testimonials End -->

 <!-- Clients Section - Home Page -->
 {{partial:layout.frontend_layout.agencies}}
  <!-- End Clients Section -->




