<div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
    <div class="container pt-5 pb-4">
        <div class="row g-5">
            <div class="col-lg-4 col-md-4">
                <a href="{{ route:about }}">
                     <img src="{{ footer:image}}" class="img-fluid w-100white rounded" alt="{{ footer:image }}" style="margin-bottom: 1%;" >
            </a>
                <p class="mt-1 text-light">
                    {{ footer:description }}
                </p>
                <div class="d-flex hightech-link">
                    {{ collection:social_media }}
                <a href="{{ link }}" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="{{ icon }}"></i></a>
                    {{ /collection:social_media }}
            </div>
            </div>



            <div class="col-lg-4 col-md-4">
                <a href="#" class="h3 text-white">Quick Links</a>
                <div class="mt-4 d-flex flex-column short-link">
                    <a href="{{route:about}}" class="mb-2 text-white"><i class="fas fa-angle-right text-white me-2"></i>About us</a>
                    <a href="{{route:contact}}" class="mb-2 text-white"><i class="fas fa-angle-right text-white me-2"></i>Contact us</a>
                    <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-white me-2"></i>Our Projects</a>
                    <a href="{{route:blog }}" class="mb-2 text-white"><i class="fas fa-angle-right text-white me-2"></i>Latest News</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <a href="#" class="h3 text-white">Contact Us</a>
                <div class="text-white mt-4 d-flex flex-column contact-link">
                    <a href="#" class="pb-2 text-light border-bottom border-primary"><i class="fas fa-map-marker-alt text-white me-2"></i>{{ contacts:address }} &nbsp;<i class="fas fa-map-marker-alt text-white me-2"></i>{{ contacts:digital_address }}</a>
                    <a href="#" class="py-2 text-light border-bottom border-primary"><i class="fas fa-phone-alt text-white me-2"></i>{{ contacts:phone_number }} &nbsp;&nbsp;<i class="fas fa-envelope text-white me-2"></i>{{ contacts:email }}</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Copyright Start -->
{{# <div class="container-fluid copyright py-4">
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.
        </div>
        <div class="col-md-6 text-center text-md-end">
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
        </div>
    </div>
</div>
</div> #}}
<!-- Copyright End -->
