
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.14/js/gijgo.min.js"></script>

{{ vite
    src="resources/assets/lib/owlcarousel/owl.carousel.min.js|resources/assets/lib/easing/easing.min.js|resources/assets/lib/waypoints/waypoints.min.js|resources/assets/lib/wow/wow.min.js|resources/assets/lib/counterup/counterup.min.js|resources/assets/lib/parallax/parallax.min.js|resources/assets/lib/isotope/isotope.pkgd.min.js|resources/assets/lib/lightbox/js/lightbox.min.js|resources/assets/js/main.js|resources/assets/js/vendor/swiper/swiper-bundle.min.js|resources/assets/vendor/isotope-layout/isotope.pkgd.min.js|resources/assets/js/animated.headline.js|resources/assets/js/jquery.magnific-popup.js|resources/assets/js/jquery.slicknav.min.js|resources/assets/js/slick.min.js|resources/assets/js/jquery.nice-select.min.js|resources/assets/js/jquery.sticky.js|resources/assets/js/plugins.js|resources/assets/js/popper.min.js|resources/assets/js/jquery.slicknav.min.js"
}}
