<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/js/libs/font-awesome/6.4.2/js/all.min.js"></script>


{{vite src="resources/js/lib/wow/wow.min.js
|resources/lib/easing/easing.min.js
|resources/lib/waypoints/waypoints.min.js
|resources/lib/owlcarousel/owl.carousel.min.js
|resources/lib/counterup/counterup.min.js
|resources/lib/parallax/parallax.min.js
|resources/lib/isotope/isotope.pkgd.min.js
|resources/lib/lightbox/js/lightbox.min.js'
|resources/js/gijgo.min.js
|resources/js/animated.headline.js
|resources/js/jquery.magnific-popup.js
|resources/js/jquery.slicknav.min.js
|resources/js/slick.min.js
|resources/js/jquery.nice-select.min.js
|resources/js/jquery.sticky.js
|resources/js/plugins.js
|resources/js/main.js

"}}




{{# |resources/js/popper.min.js #}}
{{# |resources/js/app.js #}}
