<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

{{#
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script> #}}


{{vite src="resources/assets/lib/wow/wow.min.js|resources/js/app.js"}}


{{#

{{# |resources/js/popper.min.js #}}
{{# |resources/js/app.js #}}
{{# |resources/vendor/isotope-layout/isotope.pkgd.min.js #}}
{{# #}}
{{# |resources/js/gijgo.min.js #}}

{{# |resources/js/vendor/aos/aos.js
|resources/js/vendor/glightbox/js/glightbox.min.js
|resources/js/vendor/swiper/swiper-bundle.min.js #}}

{{#




|resources/assets/js/animated.headline.js
|resources/assets/js/jquery.magnific-popup.js
|resources/assets/js/jquery.slicknav.min.js
|resources/assets/js/slick.min.js
|resources/assets/js/jquery.nice-select.min.js
|resources/assets/js/jquery.sticky.js
|resources/assets/js/plugins.js

#}}