    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Blog Details</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{{ route:home }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!--? Blog Area Start -->
    <section class="blog_area single-post-area section-padding">

        <div class="container">
            <div class="row">

                <div class="col-lg-12 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid w-100" src="{{image}}"
                                alt="{{title }}">
                        </div>
                        <div class="blog_details">
                            <h2 style="color: #2d2d2d;">{{title}}
                            </h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><i class="fa fa-user"></i>  By {{ author:name }}</li>
                                <li><i class="far fa-calendar-alt"></i>{{ date format="F j, Y" }}</li>
                            </ul>

                            {{ blog_post }}


                        </div>
                    </div>
                    <br><br>

                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">

                            <div class="col-sm-4 text-right my-2 my-sm-0">

                            </div>
                            <ul class="social-icons">
                                <li>Share:</li>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ current_url }}&title={{ title }}"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="http://twitter.com/share?text={{title }}&url={{ current_url }}"><i class="fa-brands fa-x-twitter fa-sm"></i></a></li>

                            </ul>
                        </div>


                        <div: class="navigation-area">
                            {{ collection:previous in="blogs" as="item" limit="1" sort="date:desc" }}

                        <div class="row">
                                <div
                                    class="col-lg-3 col-md-3 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    {{ item }}
                                    <div class="thumb">
                                        <a href="{{url }}">
                                            <img class="img-fluid w-100" src="{{image}}"
                                                alt="image:alt">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="{{ url}}">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="detials">
                                        <a href="{{ url }}">
                                        <h5 class="btn btn-outline-success waves-effect waves-light ">Previous </h5>
                                        </a>

                                        <a href="{{ url}}">
                                            <p style="color: #2d2d2d;">{{ title | safe_truncate(40, '...') }}</p>
                                        </a>
                                    </div>
                                    {{ /item }}
                                </div>

                                {{ /collection:previous }}

                                <div class="col-lg-5  col-md-4 col-12 nav-right flex-row d-flex justify-content-start align-items-center">
                                 </div>


                             {{ collection:next in="blogs" as="posts" limit="1" sort="date:desc"}}
                                <div
                                    class="col-lg-3 col-md-3 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    {{ posts }}
                                    <div class="detials">
                                        <a href="{{ url }}">  <h5 class="btn btn-outline-success waves-effect waves-light ">Next</h5>  </a>

                                        <a href="{{ url }}">
                                            <p style="color: #2d2d2d;">{{ title | safe_truncate(40, '...') }}</p>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="{{url}}">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="{{url}}">

                                            <img class="img-fluid w-100" src="{{image}}"
                                                alt="{{ image:alt }}">

                                        </a>
                                    </div>
                                    {{ /posts }}
                                </div>
                            </div>
                            {{ /collection:next }}

                        </div>
                    </div>

                </div>


            </div>
        </div>

    </section>
    <!-- Blog Area End -->



