<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white mb-4 animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="{{route:home}}">Home</a></li>

                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-fluid py-5 my-5">
    <div class="container py-5">
        <div class="row g-5">
            {{ collection:about_us}}
            <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                <div class="h-100 position-relative">
                    <img src="{{ image:url }}" class="img-fluid w-100 rounded" alt="about_image" style="margin-bottom: 25%;">
                    <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                <h3 class="text-success">{{ title }}</h3>
                <h1 class="mb-4">{{ subtitle }}</h1>

                <p>{{ content }}</p>


            </div>
            {{ /collection:about_us}}
        </div>
    </div>
</div>
<!-- About End -->


<!-- Facts Start -->
{{partial:layout.frontend_layout.facts}}
<!-- Facts End -->

<div class="whole-wrap">
    <div class="container box_1170">
        {{ collection:about_us }}

            <div class="row">
                <div class="col-md-12">
                    <p>{{ mandate }}</p>

                </div>
            </div>



        <div class="section-top-border">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{arrangement_image:url}}"" alt="arrangement_image" class="img-fluid w-100 rounded">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>{{ organisational_arrangement }}</p>
                </div>
            </div>
        </div>

<!-- Team Start -->
{{partial:layout.frontend_layout.team}}
<!-- Team End -->

        <div class="section-top-border">

            <div class="row">
                <div class="col-md-12">
                    <div class="single-defination">
                        <p>{{ mission }}</p>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="single-defination">
                        <h4 class="mb-20"></h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h6 class="mb-20">{{core_values}}</h6>

                    </div>
                </div>
            </div>
        </div>


        <div class="section-top-border">
            <p class="mb-30">{{ office_of_the_chief }}</p>
        </div>


    </div>
    {{ /collection:about_us }}
</div>

<!-- End Align Area -->



